* {
  @include box-sizing(border-box);
  padding: 0; margin: 0;
  vertical-align: baseline;
}

/* define grid (http://thoughtbot.com/bourbon/#grid-width) */
$gw-column: 60px;
$gw-gutter: 20px;
$outer-margin: 10px;

@function total-width($n, $outer: $outer-margin) {
  @return grid-width($n) + (2 * $outer);
}
$w-640: total-width(8);
$w-720: total-width(9);

$font-size: 16px;
$line-h: $font-size * 1.5;

/* layout */
body {
  font: 400 16px/1.5 avenir, verdana, arial, helvetica, sans-serif;
  color: #555558;
  background-color: #222;
}
.centered {
  width: $w-640; min-height:100%;
  margin:0 auto; padding: 30px $outer-margin 100px;
  background-color: #fefefe;
  /* draw grid: 1. baseline, 2. column; */
  // @include background-image(linear-gradient(linen 1px, transparent 1px), linear-gradient(left, transparent $gw-column, #f5f5f5 $gw-gutter));
  // @include background-size($line-h $line-h, ($gw-column + $gw-gutter) ($gw-column + $gw-gutter));
  // background-position: -1px -1px, $outer-margin 0;
}
/* general */
p { margin: 1.5rem 0; }
strong, a { font-weight: 500; }
h2, nav a, .contact a { font-weight: 400; }

/* links */
a { text-decoration: none; }

/* lists */
ol, ul { list-style:inside none; }
.inline li { float:left; }

/* headings */
h1 {
  font-size: 40px; font-weight: 700;
  margin-bottom: 2.5 * $line-h;

  body > & { line-height:0; margin: 0 0 0 -20000px; }
}
h2 {
  font-size: 16px;
  text-transform: uppercase;
}

/* nav */
.site-nav {
  height: 3 * $line-h;
  li { padding-right:20px; }
}
.elsewhere {
  li { width: $gw-column + $gw-gutter;
  }
}

/* about */
.contact { display: block; float: right; margin: 0; }
