* {
  @include box-sizing(border-box);
  padding: 0; margin: 0;
  vertical-align: baseline;
}

// colours: http://colorschemedesigner.com/#5q61Tq6.ow0w0
$pink: #e92b61;
$purple: #883584;
$orange: #FF6D2F;
$orange-paler: #FF9263;
$orange-palest: #FFAF8D;

$link-color: $pink;
$text-color: #555558;

// define grid (http://thoughtbot.com/bourbon/#grid-width)
$gw-column: 60px;
$gw-gutter: 20px;
$outer-margin: 70px;

@function total-width($n, $outer: $outer-margin) {
  @return grid-width($n) + (2 * $outer);
}

$default-w: total-width(8);
$font-size: 16px;
$line-h: $font-size * 1.5;

/* layout */
body {
  font: 400 #{$font-size}/1.5 avenir, verdana, arial, helvetica, sans-serif;
  color: $text-color;
  background-color: $orange-paler;
  @include background-image(linear-gradient(left, $orange-paler 1px, $orange-palest 2px));
  @include background-size(3px 3px);
}
.centered {
  width: $default-w;
  min-height: 100%;
  margin: 0 auto; padding: 30px $outer-margin 8rem;
  background-color: #fefefe;
  border-width: 0 1px; border-style: solid; border-color: $orange-palest;

  // draw grid: 1. baseline, 2. column;
  // @include background-image(linear-gradient(linen 1px, transparent 1px), linear-gradient(left, transparent $gw-column, #f5f5f5 $gw-gutter));
  // @include background-size($line-h $line-h, ($gw-column + $gw-gutter) ($gw-column + $gw-gutter));
  // background-position: -1px -1px, $outer-margin 0;
}
aside { margin-top: 5.5rem; }

/* general */
p { margin: 1.5rem 0; }
img { display: block; margin: 1rem 0; }
strong, a, h1, h2 { font-weight: 500; }
nav a, .contact a { font-weight: 400; }
blockquote {
  border-left: 3px solid $orange-paler;
  padding-left: $gw-gutter;
}

/* links */
a {
  text-decoration: none;
  color: $link-color;

  &:hover, &:active {
    border-bottom: 3px solid $purple;
  }
}

/* lists */
ul { list-style: inside disc; }
ol { list-style: inside decimal; }
.inline, .archive ol, .echoes ol {
  list-style-type: none;
}
.inline li { float: left; }
.archive li { margin-bottom: 1.5rem; }

/* headings */
h1 {
  font-size: 40px;
  margin-bottom: 2.75rem;
  line-height: 1.2;

  body > & { line-height:0; margin: 0 0 0 -20000px; }
}
h2 {
  font-size: $font-size;
  text-transform: uppercase;
  margin: 3rem 0 1.5rem;
}

/* nav */
.site-nav {
  margin-bottom: 4.75rem;
  li { padding-right: 20px; }
  .home & .home, .projects & .projects, .blog & .blog, .archive & .archive {
    border-bottom: 3px solid $orange-palest;
  }
}
.contact, .blog-nav { display: block; float: right; margin: 0; }
.blog-nav li { padding-left: 20px; }

/* blog */
.post h1 a:hover { border-bottom: 0 none; }
.published { color: #bbb; font-style: italic;
  time { color: #555558; }
  time, a { padding: 0 1px; }
}
.gist { font-size: 15px; }
.archive time { float: right; }

/* between smartphone and default width */
@media only screen and (max-width: $default-w) {
  .centered {
    padding: 30px #{$outer-margin / $default-w * 100}% 8rem;
    width: 100%;
  }
}

/* smartphone */
@media only screen and (max-width:480px) {
  body {
    font-size: 24px;
  }
  .centered {
    width: total-width(6);
    padding: 20px;
  }
  .site-nav {
    margin-bottom: 5rem;
  }
  h1 { margin-bottom: 2.5rem; }
  h2 { margin-top: 2.5rem; }
}
